*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial,"標楷體";
}
.container{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .top .left{
    border:2px solid #AAA;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 180px;
    margin-right: 30px;
}
.container .top .left div{
    margin-top: 5px;
}
.container .top .left img{
    width: 25px;
    vertical-align: middle;
}
.container .top .left .left-member{
    margin-top: 10px;
}
.container .top .left .left-member img{
    width: 100px;
}
.container .top{
    display: flex;
}
.container .top .right{
    border:2px solid #AAA;
    border-radius: 20px;
    padding: 0 20px;
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .top .right .goal-border{
    border:2px solid #AAA;
    border-radius: 25px;
    padding: 10px 20px;
}
.container .top .right .goal-position{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .top .right table{
    padding-left: 20px;
    text-align: center;
}
.container .top .right table td{
    height: 27px;
    width: 80px;
}
.container .top .right table img{
    width: 25px;
}
.container .top .right .goal button{
    height: 25px;
    width: 100px;
    border-radius: 20px;
    background-color: #3534C9;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.container .top .right .goal button:hover{
    background-color: #2fb3d1;
}
.container .top .right .goal button:focus{
    outline: none;
}
.container .top .right .plan-position{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.container .top .right .plan{
    width: 530px;
    height: 35px;
    background-color: #DDD;
    border-radius: 20px;
}
.container .top .right .plan-color{
    width: 310px;
    height: 35px;
    background: linear-gradient(to right, #0081EA, #7FFFE0);
    border-radius: 20px;
}
.container .bottom{
    display: flex;
    margin-top: 30px;
}
.container .bottom .left{
    border:2px solid #AAA;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    width: 180px;
    margin-right: 30px;
}
.container .bottom .left .first-img{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    position: relative;
}
.container .bottom .left .first-img::after{
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #B3B3B3;
}
.container .bottom .left .first-img img{
    width: 70px;
    vertical-align: middle;
}
.container .bottom .left img{
    width: 50px;
    vertical-align: middle;
}
.container .bottom .left .rank{
    margin-top: 15px;
}
.container .bottom .left .rank div{
    margin-top: 5px;
}
.container .bottom .left .button-center{
    text-align: center;
}
.container .bottom .left button{
    margin-top: 10px;
    height: 25px;
    width: 100px;
    border-radius: 20px;
    background-color: #3534C9;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.container .bottom .left button:hover{
    background-color: #2fb3d1;
}
.container .bottom .left button:focus{
    outline: none;
}
.container .bottom .right{
    display: flex;
    justify-content: center;
    border:2px solid #AAA;
    border-radius: 20px;
    padding: 20px;
    width: 720px;
}
.container .bottom .right img{
    height: 150px;
    vertical-align: middle;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-top: 5px;
}
.container .bottom .right .right-txt{
    font-size: 20px;
}