*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    display: flex;
    border: 2px solid #bcbec0;
    width: 60%;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
}
.top img{
    width: 60px;
}
.top .skin-food{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}
.top .money{
    display: flex;
    width: 250px;
    justify-content: space-between;
}
.top .money .money-position{
    display: flex;
    align-items: center;
}
.top .money .money-txt{
    font-size: 20px;
    margin-left: 10px;
}
.goods{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}
.goods .goods-item{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 40px;
}
.goods .goods-item .goods-img img{
    height: 130px;
    width: 130px;
    border-radius: 20px;
    border: 2px solid #bcbec0;
    padding: 10px 20px;
    box-sizing: border-box;
}
.goods .goods-item .goods-button button{
    margin-top: 10px;
    width: 130px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #3534c7;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}