*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrap{
  margin-top: 150px;
}
.upload{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload h2{
  text-align: center;
  font-size: 25px;
  color: #187898;
  font-weight: 900;
}
.upload input{
  cursor: pointer;
  margin-left: 10px;
}
.upload .uploadbtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  border:2px solid #AAA;
  border-radius: 20px;
  width: 700px;
  margin: 10px 0 30px 0;
}
.upload .upload-position{
  display: flex;
  justify-content: space-evenly;
}
.upload .upload-position .upload-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;
}
.upload .upload-position .upload-txt{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
}
.upload button{
    height: 25px;
    width: 80px;
    border-radius: 20px;
    background-color: #3534C9;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin: 10px 0;
    transform: translateY(0);
    transition: .3s;
}
.upload button:hover{
  background-color: #2fb3d1;
  transform: translateY(-3px);
}
.upload button:focus{
  outline: none;
}
.upload table{
  color: #3534C9;
  margin-top: 10px;
}